@font-face {
font-family: "SportsWorld";
font-style: normal;
font-weight: normal;
src: local('SportsWorld'), url("https://tempo-training.herokuapp.com/Sports-World-Regular.otf") format("truetype");

}



.tempo-font {
  font-family: 'SportsWorld';
}

#modalTempo{
	margin-top: 10rem;
}

