@font-face {
font-family: "SportsWorld";
font-style: normal;
font-weight: normal;
src: local('SportsWorld'), url("http://127.0.0.1:8000/fonts/sports_world/Sports-World-Regular.otf") format("truetype");

}



.tempo-font {
  font-family: 'SportsWorld';
}

#modalTempo{
	margin-top: 10rem;
}

